.DS_Store
target
project/boot
project/target
.idea/workspace.xml
.ensime_port
xsbt-cucumber-plugin.sublime-workspace
deploy-repo

# don't commit the intellij stuff, run "sbt idea" to generate
*.ipr
*.iml
*.iws
.idea/
out/
.idea_modules/